@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DriversWebshop.Dnn.Dnn.DriversWebshop.HelloWorld.Models.HardwareBenchmark>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    Layout = "~/DesktopModules/MVC/Dnn.DriversWebshop.HelloWorld/Views/Shared/_Layout.cshtml";
    var cpuBenchmarks = ViewBag.CpuBenchmarks as IEnumerable<DriversWebshop.Dnn.Dnn.DriversWebshop.HelloWorld.Models.HardwareBenchmark>;
    var gpuBenchmarks = ViewBag.GpuBenchmarks as IEnumerable<DriversWebshop.Dnn.Dnn.DriversWebshop.HelloWorld.Models.HardwareBenchmark>;
    var ramBenchmarks = ViewBag.RamBenchmarks as IEnumerable<DriversWebshop.Dnn.Dnn.DriversWebshop.HelloWorld.Models.HardwareBenchmark>;
    var score = ViewBag.Score as float?;
}

<div id="Items-@Dnn.ModuleContext.ModuleId">
    @*@if (Model.Count() == 0)
        {
            <p>@Dnn.LocalizeString("NoItems")</p>
        }
        else
        {
            <ul class="tm_tl">
                @foreach (var item in Model)
                {
                    <li class="tm_t">
                        <h3>@item.ItemName</h3>
                        <div class="tm_td">@item.ItemDescription</div>
                        @{
                            if (Dnn.ModuleContext.IsEditable)
                            {
                                <div>
                                    <a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
                                    <a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
                                </div>
                            }
                        }
                    </li>
                }
            </ul>
        }*@
    <style>
        .score {
            font-size: 24px;
            padding: 10px;
            color: white;
            margin-top: 20px;
            width: fit-content;
        }

        .low {
            background-color: red;
        }

        .medium {
            background-color: orange;
        }

        .high {
            background-color: green;
        }
    </style>
    <script>
        function calculateScore() {
            var gpuSelect = document.getElementById('gpu');
            var cpuSelect = document.getElementById('cpu');
            var ramSelect = document.getElementById('ram');

            var gpu = gpuSelect.options[gpuSelect.selectedIndex].dataset.percentage;
            var cpu = cpuSelect.options[cpuSelect.selectedIndex].dataset.percentage;
            var ram = ramSelect.options[ramSelect.selectedIndex].dataset.percentage;

            var score = (gpu * 0.6) + (cpu * 0.3) + (ram * 0.1);

            var scoreElement = document.getElementById('score');
            scoreElement.innerHTML = "A PC hardver pontszámod: " + score.toFixed(2);

            if (score < 150) {
                scoreElement.className = 'score low';
            } else if (score < 200) {
                scoreElement.className = 'score medium';
            } else {
                scoreElement.className = 'score high';
            }
        }
    </script>
    <h1>PC Hardver Pontszám Kalkulátor</h1>
    @*<form method="post" action="@Url.Action("CalculateScore", "Item")">
        <label for="gpu">Válassz GPU-t:</label>
        <select id="gpu" name="selectedGpu">
            @foreach (var gpu in gpuBenchmarks)
            {
                <option value="@gpu.GpuName" data-percentage="@gpu.GpuPercentage">@gpu.GpuName</option>
            }
        </select>
        <br><br />

        <label for="cpu">Válassz CPU-t:</label>
        <select id="cpu" name="selectedCpu">
            @foreach (var cpu in cpuBenchmarks)
            {
                <option value="@cpu.CpuName" data-percentage="@cpu.CpuPercentage">@cpu.CpuName</option>
            }
        </select>
        <br><br />

        <label for="ram">Válassz RAM-ot:</label>
        <select id="ram" name="selectedRam">
            @foreach (var ram in ramBenchmarks)
            {
                <option value="@ram.RamName" data-percentage="@ram.RamPercentage">@ram.RamName</option>
            }
        </select>
        <br><br />

        <button type="button" onclick="calculateScore()">Pontszám számítása</button>
    </form>
    <div id="score" class="score"></div>*@
</div>
